
.main-head-site-links-acceuil{
  margin-left: -66.5%;
  margin-right: 2em;
  display: inline-block;
  margin-bottom: 1em;
}

.main-head-site-links-a-propos{
  margin-right: 1.25em;
}

.tweet {
  width: auto;
  height: auto;
  text-align: left;
  margin: 5px;
}

.tweet-author{
  font-size: 115%;    
  color: white;
  font-weight: 650;
  display: inline-block;
  margin-left: 0.75em;
  margin-right: 0.75em;
}

.tweet-authorhandle{
  display: inline-block;
  margin-right: 0.75em;
  font-size : 80%
}

.tweet-image {
  max-height: 100%;
  height: 350px;
  width: 60%;
  object-fit: cover;
  object-position: center 15%;
  border-radius: 5%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  display: block;
}

.tweet-created-at{
  font-size: 80%;
}

.tweet-content{
  margin-left: 20.4%;
  margin-right: 19.6%;
  margin-bottom: 1.1em;

}

.tweet-content-more-button{
  cursor: pointer;
  padding: 0;
  border: none;
  background: none;
  margin-left: 1em;
  color: blueviolet;
}


.tweet-avatar{
  margin-left: 40px;
  height: 40px;
  width: 40px;
  background-color: blueviolet;
  border-radius: 50%;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left : 9em;

}

.tweet-avatar-initials{
  font-weight: bold;
  color: white;
}


.tweet-seperator{
  width: 75%;
  margin: 5px auto;
  height: 1.15px; 
  background-color: rgb(42, 42, 42); 
  border: none;
}

.main-seperator{
  width: 85%;
  margin: 5px auto;
  height: 2px; 
  background-color: rgb(42, 42, 42); 
  border: none;
}

.tweet-link{
  margin-left: 15%;
}

.main-tweet-length{
  text-align: left;
  font-size: 105%;
  color: rgb(157,163,174);
  margin-top: 0.5em;
  margin-left: 5em;
  margin-bottom: 1em;
}

.main-head-site-name{
  text-align: left;
  margin-left: 2.5em;
  margin-bottom: 1em;
}

.TweetDetailsPage-tree{
  margin-right: 60%;
  margin-bottom: 2.5px;
}